.quantity-input {
    width: 6.25rem;
    height: 3.1rem;
    font-size: 1.12rem;
    font-weight: 400;
    margin-left: 1.12rem;
    padding-left: 2.7rem;
    background-color: transparent;
    border: 1px solid #000000;
}
