.mainImages {
   display: flex;
   background: #FFFFFF;
   width: 100%;
   
   
}

.containerImages {
   display: grid;
   gap: 12px;
   grid-template-columns: 1fr 1fr;
   margin: 5.5rem 2.37rem 12.5rem auto;
}
  
.containerImages img {
   width: 17rem;
   
}




