.category-btn {
    border: 0.06rem solid #000000;
    width: 5.9rem;
    height: 1.93rem;
    font-size: 0.81rem;
    font-weight: 400;
    color: #000000;
    margin-right: 0.56rem;
    box-sizing: border-box;
    
}