.promo-component {
    font-size: 0.82rem;
    font-weight: 400;
    color: #212121;
    display: flex;
    padding: 0.18rem 0.62rem 0.18rem 0.75rem;
    border: 1px solid #000000;
    
}

.promo-component a {
    text-decoration: none;
    color: red;
    margin-left: 0.2rem;
    
}