* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
}

.menu-header {
  display: flex;
  height: 60px;
  background-color: #F8BBD0;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
}

nav ul li {
  padding-left: 20px;
}

.store-logo {
  font-family: 'Gloock', serif;
  font-size: 28px;
}

.pesquisa-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}

#lupa-header {
  max-width: 15px;
  height: 15px;
  margin-right: 10px;
}

nav a {
  color: #212121;
  text-decoration: none;
}

nav a:hover {
  color: #E91E63;
}

.modal-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.modal-login a {
  color: #212121;
  text-decoration: none;
}

.modal-login a:hover {
  color: #E91E63;
}