footer {
  background-color: #c2185b;
  height: 26.19rem;
  width: 100%;
}

.h2-footer {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.p-footer {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
