footer {
  background-color:#E91E63;
  height: 26.19rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.81rem;
  
}

.nav-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h2-footer {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.p-footer {
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 25.06rem;
}

.input-news {
  background-color: #E91E63;
  border: 1px solid #212121;
  color: #fff;
  padding: 5px;
  height: 40px;
  width: 340px;
  
}



.btn-news {
  background-color: #E91E63;
  border: 1px solid #000;
  color: #000;
  height: 40px;
  width: 60px;
}

.container-nav {
  display: flex;
  
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 11.87rem;
  height: 13rem;
  padding-left: 5rem;
}


.h4-footer {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;

}

a:hover {
  color: #212121;
}








