
.cart-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    
}

.page-cart-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: #000000;
    width: 32.5rem;
    height: auto;
    margin-left: 9rem;
    margin-top: 3.18rem;
    margin-bottom: 0.69rem;
}

.continue-shop {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    width: 22.5rem;
    height: auto;
    margin-left: 9rem;
    text-decoration: none;
}

.img-product-cart {
    width: 8.06rem;
    height: 8.31rem;
   
}

.text-product-cart {
    display: flex;
    width: 35rem;
    height: auto;
    margin-left: 9rem;
    margin-top: 1.31rem;
}

.product-title-cart {
    margin-left: 0.75rem;
    margin-top: 0.375rem;
    font-size: 1.37rem;
    font-weight: 600;
    color: #000000;
    order: 0;
    flex: none;

}


.product-size-cart {
    margin-left: 0.75rem;
    margin-top: 0.43rem;
    font-size: 0.87rem;
    font-weight: 400;
    color: #000000;
    order: 1;
}


.product-quantity-cart{
    margin-left: 0.75rem;
    margin-top: 0.43rem;
    font-size: 0.87rem;
    font-weight: 400;
    color: #000000;
    order: 2;
}


.product-price-cart {
    margin-left: 0.75rem;
    margin-top: 0.43rem;
    font-size: 1.37rem;
    font-weight: 600;
    color: #000000;
    order: 3;
}

.product-remove-btn {
    background-color: transparent;
    border: none;
    color:#000000;
    margin-left: 23rem;
    font-size: 0.87rem;
    font-weight: 400;
    text-decoration-line: underline;
    order: 2;
    display: flex;
    align-items: flex-end;
}

hr {
    width: 35rem;
    border: 1px solid #909090;
    margin: 1rem 0 1.25rem 9rem;
}

.container-order-info {
    display: flex;
    flex-direction: column;
}

.title-order-info {
    font-size: 1.37rem;
    font-weight: 600;
    color: #000000;
    margin-left: 9rem;
    margin-top: 7.25rem;
    
}

.politica-devolucao {
    font-size: 1rem;
    font-weight: 600;
    color: #909090;
    margin-left: 9rem;
}

.politica-devolucao p{
    width: 35.5rem;
    font-size: 1rem;
    font-weight: 400;
    order:1;
}

.opcoes-envio {
    font-size: 1rem;
    font-weight: 600;
    color: #909090;
    margin-left: 9rem;

}

.container-valor-total {
    background-color: dodgerblue;
    width: 24.8rem;
    height: auto;
    margin-left: 9rem;
    display:flex;
    flex-direction: column;
    

    
}

.title-resume {
    font-size: 1.37rem;
    font-weight: 600;
    color: #000000;
    /*margin-top: 6.62rem;*/
    margin-left: 0;
}

.input-cupom {
    width: 24.8rem;
    height: 2.5rem;
    margin-top: 1.81rem;
    font-size: 0.87rem;
    font-weight: 400;
    color: #A9ABBD;
    padding-left: 1rem;
}

.subtotal-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.69rem;
    font-size: 0.87rem;
    font-weight: 400;
    color: #212121;
}

.subtotal-cart h5{
    font-size: 0.87rem;
    font-weight: 400;
}


.envio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.87rem;
    font-weight: 400;
    color: #212121;
}

.envio h5 {
    font-size: 0.87rem;
    font-weight: 400;
}


.total-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.87rem;
    font-weight: 400;
    color: #212121;
}

.total-cart h5{
    font-size: 0.87rem;
    font-weight: 400;
}

.line-total {
    margin-left: 0;
    width: 25.12rem;
}